{% extends '@Tabler/security.html.twig' %}

{% block login_social_auth %}{% endblock %}

{% block login_box_msg %}
    {{ 'Reset your password'|trans({}, 'TablerBundle') }}
{% endblock %}

{% block login_form %}
    <form class="card-body security-password-reset" action="{{ path('tabler_password_reset_sent'|tabler_route) }}" method="post" autocomplete="off">
        <div class="mb-3">
            <label for="username" class="form-label">{{ 'Username or email address'|trans({}, 'TablerBundle') }}</label>
            <input autocomplete="username" type="text" id="username" name="username" required="required" class="form-control" placeholder="{{ 'Username or email address'|trans({}, 'TablerBundle') }}">
        </div>
        <div class="form-footer">
            {% from '@Tabler/components/buttons.html.twig' import submit_button %}
            {{ submit_button('mail', {class: 'w-100', title: 'Reset your password', translation_domain: 'TablerBundle'}, 'primary') }}
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('password_reset') }}"/>
    </form>
{% endblock %}

{% block login_actions %}
    <div class="text-center text-body-secondary mt-3">
        <a href="{{ path('tabler_login'|tabler_route) }}">
            {{ 'Back to login'|trans({}, 'TablerBundle') }}
        </a>
    </div>
{% endblock %}
