<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="{{ ''|tabler_container }}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% block app_logo %}
            <h1 class="navbar-brand navbar-brand-autodark">
                <a href="{{ path('tabler_welcome'|tabler_route) }}">
                    {% if tabler_bundle.getLogoUrl() is not empty %}
                        <img src="{% if '://' in tabler_bundle.getLogoUrl() %}{{ tabler_bundle.getLogoUrl() }}{% else %}{{ asset(tabler_bundle.getLogoUrl()) }}{% endif %}" width="110" height="32" alt="Logo" class="navbar-brand-image">
                    {% else %}
                        <i class="far fa-smile" style="font-size: 32px"></i>
                    {% endif %}
                </a>
            </h1>
        {% endblock %}
        <div class="navbar-nav flex-row d-lg-none">
            {% embed '@Tabler/embeds/navbar.html.twig' %}{% endembed %}
        </div>
        <div id="navbar-menu" class="collapse navbar-collapse">
            {% block navbar_menu_start %}{% endblock %}
            {% include '@Tabler/includes/menu.html.twig' with {navbar_class : 'pt-lg-3'} %}
            {% block navbar_menu_end %}{% endblock %}
        </div>
    </div>
</aside>
{% if not tabler_bundle.isCondensedNavbar() %}
    <header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
        <div class="{{ ''|tabler_container }}">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-nav flex-row order-md-last">
                {% embed '@Tabler/embeds/navbar.html.twig' %}{% endembed %}
            </div>

            <div class="collapse navbar-collapse" id="navbar-menu">
                {% block navbar_search %}
                    {% include '@Tabler/includes/navbar_search.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </header>
{% endif %}
