{#
Use this as your new starter template page, use it to start your new project,
by adding this code to your own base template:

{% extends '@Tabler/layout.html.twig' %}

Enjoy your theme!
#}
<!doctype html{% block html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}"{% if tabler_bundle.isRightToLeft() %} dir="rtl"{% endif %}>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% endblock %}
    <title>{% block title %}{{ block('page_title') }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/tabler/tabler.css') }}">
    {% endblock %}
</head>
<body{% block body_start %}{% endblock %} class="{{ 'antialiased'|tabler_body }}">
{% block after_body_start %}{% endblock %}
<div class="wrapper">

    {% if tabler_bundle.isLayoutHorizontal() %}
        {% use '@Tabler/includes/layout_horizontal.html.twig' %}
        {% block layout_horizontal %}{{ parent() }}{% endblock %}
    {% elseif tabler_bundle.isLayoutVertical() %}
        {% use '@Tabler/includes/layout_vertical.html.twig' %}
        {% block layout_vertical %}{{ parent() }}{% endblock %}
    {% endif %}
    

    <div id="{% block page_wrapper_id %}{% endblock %}" class="page-wrapper">
        {% block page_header %}
        <div class="{{ ''|tabler_container }}">
            <!-- Page title -->
            <div id="{% block page_header_id %}{% endblock %}" class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        {% block breadcrumb %}
                        <div class="page-pretitle">
                            {% block page_pretitle %}Overview{% endblock %}
                        </div>
                        {% endblock %}
                        <h2 class="page-title">
                            {% block page_title %}Dashboard{% endblock %}
                        </h2>
                        {% block page_subtitle %}
                        <div class="text-muted mt-1">
                            1-10 of 100
                        </div>
                        {% endblock %}
                    </div>
                    <div class="col-auto ms-auto d-print-none">
                        {% block page_actions %}
                        <div class="btn-list">
                            <a href="#" class="btn btn-white">
                              New view
                            </a>
                            <a href="#" class="btn btn-primary d-none d-sm-inline-block">
                                Create new report
                            </a>
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>        
        {% endblock %}
        
        
        
        <div class="page-body">
            <div class="{{ ''|tabler_container }}">
                <div class="row row-cards">
                    {% block page_content_before %}{% endblock %}

                    <section id="{% block page_content_id %}{% endblock %}" class="{% block page_content_class %}content{% endblock %}">
                        {% block page_content_start %}{{ include('@Tabler/includes/flash_messages.html.twig') }}{% endblock %}
                        {% block page_content %}{% endblock %}
                        {% block page_content_end %}{% endblock %}
                    </section>

                    {% block page_content_after %}{% endblock %}
                </div>
            </div>
        </div>


        {% block footer %}
        <footer id="{% block footer_id %}{% endblock %}" class="footer footer-transparent d-print-none">
            <div class="container">
                {% include '@Tabler/includes/footer.html.twig' %}
            </div>
        </footer>
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/tabler/tabler.js') }}"></script>
{% endblock %}
</body>
</html>
