{#
Use this as your new starter template page, use it to start your new project,
by adding this code to your own base template:

{% extends '@Tabler/layout_horizontal.html.twig' %}

Enjoy your theme!
#}
<!doctype html{% block html_start %}{% endblock %}>
<html lang="{{ app.locale }}"{% if tabler_bundle.isRightToLeft() %} dir="rtl"{% endif %} data-bs-theme="{{ tabler_theme() }}" data-bs-theme-base="{{ tabler_bundle.getThemeBase() }}" data-bs-theme-radius="{{ tabler_bundle.getThemeRadius() }}" data-bs-theme-primary="{{ tabler_bundle.getThemePrimary() }}">
<head>
    {% block head %}
        {% include '@Tabler/includes/html_head.html.twig' %}
    {% endblock %}
    <title>{% block title %}{{ block('page_title') }}{% endblock %}</title>
    {% block stylesheets %}
        {% if tabler_bundle.isRightToLeft() %}
            <link rel="stylesheet" href="{{ asset('bundles/tabler/tabler-rtl.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('bundles/tabler/tabler.css') }}">
        {% endif %}
    {% endblock %}
</head>
<body{% block body_start %}{% endblock %} class="{{ 'antialiased'|tabler_body }} {% block body_class %}{% endblock %}">
{% block after_body_start %}{% endblock %}
<div class="page">

    {# *** Layout type changes *** #}
    {% block header %}
        <header id="{% block header_id %}{% endblock %}" class="navbar navbar-expand-md{% block header_class %} {% if tabler_bundle.isNavbarOverlapping() %}navbar-overlap{% endif %}{% endblock %} d-print-none"{% if tabler_bundle.isNavbarOverlapping() or tabler_bundle.isHeaderDark() %} data-bs-theme="dark"{% endif %}>
            <div class="{{ ''|tabler_container }}">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block app_logo %}
                    <h1 class="{% block navbar_brand_classes %}navbar-brand d-none-navbar-horizontal pe-0 pe-md-3 {% block navbar_brand_class %}navbar-brand-autodark{% endblock %}{% endblock %}">
                        {% include '@Tabler/includes/logo.html.twig' %}
                    </h1>
                {% endblock %}
                <div class="navbar-nav flex-row order-md-last">
                    {% block navbar_start %}{% endblock %}
                    {% block navbar_notifications %}
                        {% include '@Tabler/includes/navbar_notifications.html.twig' %}
                    {% endblock %}
                    {% block navbar_user %}
                        {% include '@Tabler/includes/navbar_user.html.twig' %}
                    {% endblock %}
                    {% block navbar_end %}{% endblock %}
                </div>
                {% if tabler_bundle.isCondensedNavbar() %}
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                            {% block navbar_menu_condensed %}
                                {% include '@Tabler/includes/menu.html.twig' %}
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </header>
    {% endblock %}

    {% block navbar %}
        {% if not tabler_bundle.isCondensedNavbar() %}
            <div id="{% block navbar_id %}{% endblock %}" class="navbar-expand-md">
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <div class="navbar"{% if tabler_bundle.isNavbarDark() %} data-bs-theme="dark"{% endif %}>
                        <div class="{{ ''|tabler_container }}">
                            {% block navbar_menu %}
                                {% include '@Tabler/includes/menu.html.twig' %}
                            {% endblock %}
                            {% block navbar_search %}
                                {% include '@Tabler/includes/navbar_search.html.twig' %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {# *************************** #}

    {% block page_wrapper %}
        <div id="{% block page_wrapper_id %}{% endblock %}" class="page-wrapper {% block page_wrapper_class %}{% endblock %}">
            {% block page_header %}
                <div id="{% block page_header_id %}{% endblock %}" class="page-header d-print-none {% block page_header_class %}{% endblock %}">
                    <div class="{{ ''|tabler_container }}">
                        <div class="row align-items-center">
                            <div class="col">
                                {% block page_intro %}
                                    {% block breadcrumb %}
                                        <div class="page-pretitle">
                                            {% block page_pretitle %}Overview{% endblock %}
                                        </div>
                                    {% endblock %}
                                    <h2 class="page-title">
                                        {% block page_title %}Dashboard{% endblock %}
                                    </h2>
                                    {% block page_subtitle %}
                                        <div class="text-body-secondary mt-1">
                                            1-10 of 100
                                        </div>
                                    {% endblock %}
                                {% endblock %}
                            </div>
                            <div class="{% block page_actions_class %}col-auto ms-auto d-print-none{% endblock %}">
                                {% block page_actions %}
                                    <div class="btn-list">
                                        <a href="#" class="btn btn-white">
                                            New view
                                        </a>
                                        <a href="#" class="btn btn-primary d-none d-sm-inline-block">
                                            Create new report
                                        </a>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block page_body %}
                <div class="page-body">
                    <div class="{{ ''|tabler_container }}">
                        {% block page_content_before %}{% endblock %}
                        {% block page_content_start %}{{ include('@Tabler/includes/flash_messages.html.twig') }}{% endblock %}
                        {% block page_content %}{% endblock %}
                        {% block page_content_end %}{% endblock %}
                        {% block page_content_after %}{% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block footer %}
                <footer id="{% block footer_id %}{% endblock %}" class="footer footer-transparent d-print-none {% block footer_class %}{% endblock %}">
                    <div class="{{ ''|tabler_container }}">
                        {% include '@Tabler/includes/footer.html.twig' %}
                    </div>
                </footer>
            {% endblock %}
        </div>
    {% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/tabler/tabler.js') }}"></script>
{% endblock %}
</body>
</html>
