{#
Use this as your new starter template page, use it to start your new project,
by adding this code to your own base template:

{% extends '@Tabler/layout-vertical.html.twig' %}

Enjoy your theme!
#}

{% set tabler_layoutType = "vertical" %}

<!doctype html{% block html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}"{% if tabler_bundle.isRightToLeft() %} dir="rtl"{% endif %}>
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% endblock %}
    <title>{% block title %}{{ block('page_title') }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/tabler/tabler.css') }}">
    {% endblock %}
</head>
<body{% block body_start %}{% endblock %} class="{{ 'antialiased'|tabler_body }}">
{% block after_body_start %}{% endblock %}
<div class="page">

    {# *** Layout type changes *** #}
    {% block navbar %}
        <aside id="{% block sidebar_id %}{% endblock %}" class="navbar navbar-vertical navbar-expand-lg {{ tabler_bundle.isNavbarDark() ? 'navbar-dark' : 'navbar-light' }}">
            <div class="{{ ''|tabler_container }}">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block app_logo %}
                    <h1 class="navbar-brand navbar-brand-autodark">
                        <a href="{{ path('tabler_welcome'|tabler_route) }}">
                            {% if tabler_bundle.getLogoUrl() is not empty %}
                                <img src="{% if '://' in tabler_bundle.getLogoUrl() %}{{ tabler_bundle.getLogoUrl() }}{% else %}{{ asset(tabler_bundle.getLogoUrl()) }}{% endif %}" width="110" height="32" alt="Logo" class="navbar-brand-image">
                            {% else %}
                                <i class="far fa-smile" style="font-size: 32px"></i>
                            {% endif %}
                        </a>
                    </h1>
                {% endblock %}
                <div class="navbar-nav flex-row d-lg-none">
                    {{ _self.navbar(block('navbar_start'), block('navbar_notifications'), block('navbar_user'), block('navbar_end')) }}
                </div>
                <div id="navbar-menu" class="collapse navbar-collapse">
                    {% block navbar_menu_start %}{% endblock %}
                    {% include '@Tabler/includes/menu.html.twig' with {tabler_layoutType, navbar_class : 'pt-lg-3'} %}
                    {% block navbar_menu_end %}{% endblock %}
                </div>
            </div>
        </aside>
    {% endblock %}

    {% block header %}
        {% if not tabler_bundle.isCondensedNavbar() %}
            <header id="{% block header_id %}{% endblock %}" class="navbar navbar-expand-md {{ tabler_bundle.isHeaderDark() ? 'navbar-dark' : 'navbar-light' }} d-none d-lg-flex d-print-none">
                <div class="{{ ''|tabler_container }}">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-nav flex-row order-md-last">
                        {{ _self.navbar(block('navbar_start'), block('navbar_notifications'), block('navbar_user'), block('navbar_end')) }}
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-menu">
                        {% block navbar_search %}
                            {% include '@Tabler/includes/navbar_search.html.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </header>
        {% endif %}
    {% endblock %}
    {# *************************** #}

    <div id="{% block page_wrapper_id %}{% endblock %}" class="page-wrapper">
        {% block page_header %}
            <div class="{{ ''|tabler_container }}">
                <!-- Page title -->
                <div id="{% block page_header_id %}{% endblock %}" class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            {% block breadcrumb %}
                                <div class="page-pretitle">
                                    {% block page_pretitle %}Overview{% endblock %}
                                </div>
                            {% endblock %}
                            <h2 class="page-title">
                                {% block page_title %}Dashboard{% endblock %}
                            </h2>
                            {% block page_subtitle %}
                                <div class="text-muted mt-1">
                                    1-10 of 100
                                </div>
                            {% endblock %}
                        </div>
                        <div class="col-auto ms-auto d-print-none">
                            {% block page_actions %}
                                <div class="btn-list">
                                    <a href="#" class="btn btn-white">
                                        New view
                                    </a>
                                    <a href="#" class="btn btn-primary d-none d-sm-inline-block">
                                        Create new report
                                    </a>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}



        <div class="page-body">
            <div class="{{ ''|tabler_container }}">
                <div class="row row-cards">
                    {% block page_content_before %}{% endblock %}

                    <section id="{% block page_content_id %}{% endblock %}" class="{% block page_content_class %}content{% endblock %}">
                        {% block page_content_start %}{{ include('@Tabler/includes/flash_messages.html.twig') }}{% endblock %}
                        {% block page_content %}{% endblock %}
                        {% block page_content_end %}{% endblock %}
                    </section>

                    {% block page_content_after %}{% endblock %}
                </div>
            </div>
        </div>


        {% block footer %}
            <footer id="{% block footer_id %}{% endblock %}" class="footer footer-transparent d-print-none">
                <div class="container">
                    {% include '@Tabler/includes/footer.html.twig' %}
                </div>
            </footer>
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/tabler/tabler.js') }}"></script>
{% endblock %}
</body>
</html>

{% macro navbar(navbar_start, navbar_notifications, navbar_user, navbar_end) %}
    {% block navbar_start %}{{ (navbar_start ?? '') | raw }}{% endblock %}
    {% block navbar_notifications %}
        {% if navbar_notifications is defined %}
            {{ navbar_notifications|raw }}
        {% else %}
            {% include '@Tabler/includes/navbar_notifications.html.twig' %}
        {% endif %}
    {% endblock %}
    {% block navbar_user %}
        {% if navbar_user is defined %}
            {{ navbar_user|raw }}
        {% else %}
            {% include '@Tabler/includes/navbar_user.html.twig' %}
        {% endif %}
    {% endblock %}
    {% block navbar_end %}{{ (navbar_end ?? '') | raw }}{% endblock %}
{% endmacro %}
