{% set notifications = tabler_notifications() %}
{% if notifications is not null %}
    {% set total = notifications.total %}
    {% set notifications = notifications.notifications %}
    <div class="nav-item dropdown d-none d-md-flex me-3">
        <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="{{ 'You have %count% notifications'|trans({'%count%': total}, 'TablerBundle') }}">
            <i class="icon far fa-bell"></i>
            <span class="badge bg-red"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
            <div class="card-header text-nowrap">{{ 'You have %count% notifications'|trans({'%count%': total}, 'AdminLTEBundle') }}</div>
            {% for notice in notifications|slice(0, 9) %}
                <a class="dropdown-item" href="{% if notice.url is null %}#{% else %}{{ notice.url }}{% endif %}">
                    <span class="badge bg-{{ notice.type }} me-1"></span>
                    {{ notice.message }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
