{% macro accordion(items, options) %}
    {% set _id = options.id ?? ('accordion-' ~ random(0, 999)) %}
    {% set _raw = options.raw ?? true %}
    {% set _flush = options.flush ?? false %}
    {% set _always_open = options.always_open ?? false %}
    {% set _extraClass = options.extraClass ?? '' %}

    <div id="{{ _id }}" class="accordion {% if _flush == true %}accordion-flush{% endif %} {{ _extraClass }}">
        {% for item in items %}
            {% set _id_collapse = _id ~ '-collapse-' ~ loop.index %}
            {% set _item_extraClass = item.options.extraClass ?? '' %}
            {% set _item_title_extraClass = item.options.title_extraClass ?? '' %}
            {% set _item_body_extraClass = item.options.body_extraClass ?? '' %}
            <div class="accordion-item {{ _item_extraClass }}">
                <div class="accordion-header {{ _item_title_extraClass }}" id="{{ _id }}-heading-{{ loop.index }}">
                    <button class="accordion-button {% if loop.first == false %}collapsed{% endif %}"
                            type="button" data-bs-toggle="collapse" data-bs-target="#{{ _id_collapse }}"
                            aria-expanded="true">
                        {% if _raw %}{{ item.title | raw }}{% else %}{{ item.title }}{% endif %}
                    </button>
                </div>
                <div id="{{ _id_collapse }}" {% if _always_open == false %}data-bs-parent="#{{ _id }}"{% endif %}
                     class="accordion-collapse collapse {% if loop.first %}show{% endif %} {{ _item_body_extraClass }}">
                    <div class="accordion-body pt-0">
                        {% if _raw %}{{ item.body | raw }}{% else %}{{ item.body }}{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
