{% macro alert(options) %}
    {% import '@Tabler/includes/utils.html.twig' as macros %}

    {# Content #}
    {% set _title = options.title ?? null %}
    {% set _description = options.description ?? null %}
    {% set _icon = options.icon ?? null %}

    {# Configuration #}
    {% set _type = options.type ?? 'danger' %}
    {% set _dismissible = (options.dismissible ?? false) is same as (true) %}
    {% set _important = (options.important ?? false) is same as (true) %}

    {% set _id = options.id ?? null %}
    {% set _attr = options.attr ?? {} %}
    {% set _class = options.class ?? '' %}
    {% set _raw = (options.raw ?? false) is same as (true) %}

    {% set _background = _title is empty or _description is empty or _important %}

    <div
            {%- if _id %}id="{{ _id }}"{% endif -%}
            class="alert alert-{{ _type }} {% if _dismissible %}alert-dismissible{% endif %} {% if _background %}alert-important{% endif %} {{ _class }}"
            role="alert"
            {{- macros.attr_to_html(_attr) -}}
    >
        <div class="d-flex">
            {% if _icon %}
                <div class="alert-icon">
                    {{ tabler_icon(_icon, true) }}
                </div>
            {% endif %}

            {% if _title is not empty or _description is not empty %}
                <div>
                    {% if _title is not empty %}
                        {% if _background %}
                            <h4 class="{{ _description is not empty ? 'mb-1' : 'mb-0' }}">{{ _raw ? _title|raw : _title }}</h4>
                        {% else %}
                            <h4 class="alert-title">{{ _raw ? _title|raw : _title }}</h4>
                        {% endif %}
                    {% endif %}
                    {% if _description is not empty %}
                        {% if _background %}
                            <p class="m-0">{{ _raw ? _description|raw : _description }}</p>
                        {% else %}
                            <div class="text-muted">{{ _raw ? _description|raw : _description }}</div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if _dismissible %}<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>{% endif %}
    </div>
{% endmacro %}
