{% macro alert(type, description, title, icon, dismissible) %}

    {% if type is iterable %}
        {% set options = type %}

        {% set _type = options.type ?? 'danger' %}
        {% set _title = options.title ?? null %}
        {% set _description = options.description ?? null %}
        {% set _icon = options.icon ?? null %}
        {% set _dismissible = (options.dismissible ?? false) is same as (true) %}
        {% set _important = (options.important ?? false) is same as (true) %}
        {% set _raw = (options.raw ?? false) is same as (true) %}
    {% else %}
        {% deprecated "Passing multiple parameters to 'alert()' Tabler macro is deprecated, use options object syntax." %}

        {% set _type = type ?? 'danger' %}
        {% set _title = title is defined ? title|trans : null %}
        {% set _description = description is defined ? description|trans : null %}
        {% set _icon = icon ?? null %}
        {% set _dismissible = (dismissible ?? false) is same as (true) %}
        {% set _important = false %}
        {% set _raw = false %}
    {% endif %}

    {% set _background = _title is empty or _description is empty or _important %}

    <div
            class="alert alert-{{ _type }} {% if _dismissible %}alert-dismissible{% endif %} {% if _background %}alert-important{% endif %}"
            role="alert"
    >
        <div class="d-flex">
            {% if _icon %}
                <div class="alert-icon">
                    {{ tabler_icon(_icon, true) }}
                </div>
            {% endif %}

            {% if _title is not empty or _description is not empty %}
                <div>
                    {% if _title is not empty %}
                        <h3 class="{{ _description is not empty ? 'mb-1' : 'mb-0' }}">{{ _raw ? _title|raw : _title }}</h3>
                    {% endif %}
                    {% if _description is not empty %}
                        <p class="m-0">{{ _raw ? _description|raw : _description }}</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if _dismissible %}<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>{% endif %}
    </div>
{% endmacro %}
