{% macro action_cardtoolbutton(icon, attrs) %}
    {% import '@Tabler/components/button.html.twig' as macro %}
    {{ macro.button(icon, attrs|merge({class: 'btn-outline-secondary ' ~ (attrs.class|default(''))})) }}
{% endmacro %}

{% macro action_collapsebutton(label, target) %}
    {{ _self.action_cardtoolbutton('collapse', {collapse: target, title: label|default('')}) }}
{% endmacro %}

{# TODO test me #}
{% macro link_toolbutton(icon, href, label, attrs) %}
    {% set attrs = attrs|default({})|merge({class: 'me-2 ' ~ (attrs.class|default(''))}) %}
    <a href="{{ href }}" {% for name, value in attrs|default({}) %} {{ name }}="{{ value }}"{% endfor %}>
        {{ tabler_icon(icon) }}{% if label is not null %} {{ label }}{% endif %}
    </a>
{% endmacro %}

{% macro link_button(label, href, icon, type, size) %}
    {% set _size = size|default(null) %}
    {% set _type = type|default('primary') %}
    <a href="{{ href|default('#') }}" class="btn btn-{{ _type }}{% if _size %} btn-{{ _size }}{% endif %}">
        {% if icon %}
            {{ tabler_icon(icon) }}
        {% endif %}
        {% if label %}
            <span>{{ label }}</span>
        {% endif %}
    </a>
{% endmacro %}

{% macro action_button(label, action, icon, type, size) %}
    {% set _size = size|default(null) %}
    {% set _type = type|default('primary') %}
    <button data-action="{{ action }}" class="btn btn-{{ _type }}{% if _size %} btn-{{ _size }}{% endif %}">
        {% if icon %}
            {{ tabler_icon(icon) }}
        {% endif %}
        {% if label %}
            <span>{{ label }}</span>
        {% endif %}
    </button>
{% endmacro %}

{% macro submit_button(icon, user_values, type) %}
    {% import '@Tabler/components/button.html.twig' as macro %}

    {% set default_values = {
        combined : true,
        attr : {type: 'submit'},
        disabled : false,
        buttonType : 'submit',
    } %}

    {% set values_attr = default_values.attr | merge(user_values.attr|default({})) %}
    {% set values = default_values | merge(user_values|default({})) %}
    {% set values = values | merge({'attr' : values_attr}) %}

    {{ macro.button(icon, values, type) }}
{% endmacro %}


{% macro dropdown_button(button, actions, options) %}
    {% import '@Tabler/components/button.html.twig' as macro %}

    {% set button_default = {
        buttonType : 'button',
        class : 'dropdown-toggle',
        combined : true,
        tooltip : false,
        attr : {
            'data-bs-toggle' : 'dropdown'
        },
    } %}

    {% set values_attr = button_default.attr | merge(button.attr|default({})) %}
    {% set values = button_default | merge(button|default({})) %}
    {% set values = values | merge({'attr' : values_attr}) %}

    <div class="dropdown">
        {{ macro.button(
            button.icon ?? false,
            values,
            button.type ?? null
        ) }}

        {% if actions is iterable and actions|length > 0 %}
            <div class="dropdown-menu">
                {% for action in actions %}
                    {% set _title   = action.title ?? null %}
                    {% set _url     = action.url ?? '#' %}
                    {% set _icon    = action.icon ?? false %}

                    <a class="dropdown-item" href="{{ _url }}">
                        {%- if _icon is not same as (false) -%}
                            {{ tabler_icon(_icon) }}
                        {% endif %}
                        {%- if _title is not null -%}
                            {{ _title|raw }}
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}
