{% macro flash(type, message, close, use_raw, class, domain) %}
    {% if type == 'error' %}
        {% set type = 'danger' %}
    {% endif %}
    <div class="alert{{ type ? ' alert-'~type : '' }} {{ class|default('') }} {% if close|default(false) %}alert-dismissible{% endif %}">
        <div>
            <h4 class="alert-title">
                {% if use_raw|default(false) %}
                    {{ message|trans({}, domain|default('TablerBundle'))|raw }}
                {% else %}
                    {{ message|trans({}, domain|default('TablerBundle')) }}
                {% endif %}
            </h4>
        </div>

        {% if close|default(false) %}
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        {% endif %}
    </div>
{% endmacro %}

{% macro session_flash(close, use_raw, class, domain) %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                {{ _self.flash(type, message, close, use_raw, class, domain) }}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endmacro %}
