{% macro status(text, options) %}
    {% import '@Tabler/components/status.html.twig' as macro %}
    {% import '@Tabler/includes/utils.html.twig' as utils %}

    {% set _color = options.color ?? 'green' %}
    {% set _animated = (options.animated ?? true) is same as true %}
    {% set _lite = (options.lite ?? false) is same as true %}
    {% if options.with_dot is defined %}
        {% deprecated 'with_dot option is deprecated, use withDot option instead!' %}
        {% set _withDot = options.with_dot is same as true %}
    {% else %}
        {% set _withDot = (options.withDot ?? false) is same as true %}
    {% endif %}

    {% set _extraClass = options.extraClass ?? '' %}
    {% set _attr = options.attr ?? {} %}

    {%- apply spaceless -%}
        <span
            class="status status-{{ _color }} {% if _lite %}status-lite{% endif %} {{ _extraClass }}"
            {{ utils.attr_to_html(_attr) }}
        >
            {% if _withDot %}
                {{ macro.status_dot({animated : _animated}) }}
            {% endif %}
            {{ text }}
        </span>
    {%- endapply -%}
{% endmacro %}

{% macro status_dot(options) %}
    {% import '@Tabler/includes/utils.html.twig' as utils %}

    {% set _color = options.color ?? null %}
    {% set _animated = (options.animated ?? true) is same as true %}
    {% set _extraClass = options.extraClass ?? '' %}
    {% set _attr = options.attr ?? {} %}

    {%- apply spaceless -%}
        <span
            class="status-dot {% if _animated %}status-dot-animated{% endif %} {% if _color is not null %}status-{{ _color }}{% endif %} {{ _extraClass }}"
            {{ utils.attr_to_html(_attr) }}
        ></span>
    {%- endapply -%}
{% endmacro %}
