{% macro timeline(items, values) %}
    {% set _isSimple = values.simple ?? false %}

    <ul class="list list-timeline {% if _isSimple %}list-timeline-simple{% endif %}">
        {% for item in items %}
            <li>
                {% if item.icon is defined %}
                    <div class="list-timeline-icon {% if item.iconColor is defined %}bg-{{ item.iconColor }}{% endif %}">
                        {{ tabler_icon(item.icon, false) }}
                    </div>
                {% endif %}
                {% if true %}
                    <div class="list-timeline-content">
                        {% if item.time is defined and item.time is not null %}
                            <div class="list-timeline-time">{{ item.time }}</div>
                        {% endif %}
                        {% if item.title is defined and item.title is not null %}
                            <p class="list-timeline-title">{{ item.title }}</p>
                        {% endif %}
                        {% if item.text is defined and item.text is not null %}
                            <p class="text-muted">{{ item.text|raw }}</p>
                        {% elseif item.textHtml is defined and item.textHtml is not null %}
                            {{ item.textHtml|raw }}
                        {% endif %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
